.buttons {
  gap: 50px;
}
.button {
  width: 100px;
  height: 100px;
}
.button:hover {
  transform: scale(1.1);
}
.pressable-button {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.pressable-button:hover {
  background-color: gray;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pressable-button:active {
  background-color: rgba(128, 128, 128, 0.397);
  transform: scale(0.95);
  box-shadow: none;
}
.font {
  font-family: sans-serif;
  font-weight: 600;
}
.buttonsLeft , .buttonsRight {
  gap: 15px;
}
